<div id="jobinfo" layout="column">
  <div class="col s12">
    <h4>Job Information</h4>
  </div>

  <div class="col s12">
    <div layout-gt-xs="row">
      <md-input-container class="md-block" flex-gt-xs md-no-float>
        <label>Builder</label>
        <input type="text" ng-model="user.name" placeholder="Input Builder Here">
      </md-input-container>
      <md-datepicker ng-model="user.submissionDate" md-placeholder="Enter date"></md-datepicker>
    </div>

    <div layout-gt-xs="row">
      <md-input-container class="md-block" flex-gt-xs md-no-float>
        <label>Address</label>
        <input type="text" ng-model="user.address" placeholder="Input Builder Here">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-xs md-no-float>
        <label>Type</label>
        <input type="text" ng-model="user.type" placeholder="Input Type Here">
      </md-input-container>
    </div>

    <div layout-gt-xs="row">
      <md-input-container class="md-block" flex-gt-xs md-no-float>
        <label>Project</label>
        <input type="text" ng-model="user.project" placeholder="Input Project Here">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-xs md-no-float>
        <label>Layout #</label>
        <input type="text" ng-model="user.layout" placeholder="Input Layout # Here">
      </md-input-container>
    </div>

    <div layout-gt-xs="row">
      <md-input-container class="md-block" flex-gt-xs md-no-float>
        <label>Township</label>
        <input type="text" ng-model="user.township" placeholder="Input Township Here">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-xs md-no-float>
        <label>Sqft</label>
        <input type="text" ng-model="user.sqft" placeholder="Input Sqft Here">
      </md-input-container>
    </div>
  </div>
</div>
