<html>
<head>
	<%- include('partials/_head.ejs') %>
</head>

<body>
	<div class="new-class">hello bud</div>


	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>
