<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <% include head.ejs %>
  </head>
  <body ng-app="thheating">

    <navbar></navbar>
    <ui-view></ui-view>

    <% include scripts.ejs %>
  </body>
</html>
